/data/*
!/data/trainResized
!/data/trainResizedKeys
!/data/testResized
!/data/testResizedKeys
!/data/trainLabels.csv
!/data/testLabels.csv
!/data/storage
/data/storage/**/*.p
/data/storage/alldescriptors.txt
/source/Backup
/data/storage/alltestdescriptors.txt
SIFTDemo
*.pyc
